body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    width: 400px;
    height: 150px;
    font-size: 45px;
    font-family: sans-serif;
    background: transparent;
    border: 2px solid black;
    position: relative;
    transition: color 1s;
}

.button:hover{
    color: white;
}



.button::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(59, 0, 59);
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transform: rotateX(-90deg);    
    transition: transform 1s;
}



.button:hover::before{
    transform: rotateX(0);
}


.button::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(59, 0, 59);
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transform: rotateY(-90deg);   
    transition: transform 1s; 
}

.button:hover::after{
    transform: rotateY(0);
}