*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    perspective: 400px;
    background: black;
}

body::-webkit-scrollbar{
    width: 0;
}

.door{  
    height: 600px;
    width: 300px;
    background: brown;
    margin: auto;
    margin-top: 30px;
    transition: transform 4s;
    transform-origin: top left;
}

.door:hover{
    transform: rotateY(89deg);
}